@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@layer utilities {
  .h-carousel {
    height: 36rem; /* Adjust the height as needed */
  }
}

.digit-separator {
  font-variant-numeric: tabular-nums;
}
