@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@layer utilities {
  .h-carousel {
    height: 36rem; /* Adjust the height as needed */
  }
  .message-input {
    width: 48rem;
  }
}

.digit-separator {
  font-variant-numeric: tabular-nums;
}

.query-checkbox {
  width: 20px;
  height: 20px;
}
